@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

body {
  background-color: #4b7f52;
  background-image: url(./assets/photo-1488655980602-a2d28399df6c.avif);
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
  font-family: "Quicksand", sans-serif;
}

.main {
  padding-top: 50px;
  max-width: 340px;
  margin: 20px auto;
  text-align: center;
  background-color: rgba(75, 127, 82, 0.9);
  border-radius: 20px;
  box-shadow: 12px 12px 12px rgba(1, 3, 2, 0.4);
}

button {
  background-color: transparent;
  color: #c9ffe2;
  border: 0;
  width: 100px;
  cursor: pointer;
}

.controls {
  border-radius: 20px;
  transition: ease-in-out 0.4s;
  margin-bottom: 30px;
}

.controls:hover {
  color: #fff;
  background-color: rgba(201, 255, 226, 0.2);
}

.settings {
  width: auto;
  background-color: rgba(201, 255, 226, 0.2);
  border-radius: 20px;
  padding: 10px 20px;
  line-height: 36px;
  transition: ease-in-out 0.4s;
  font-size: 1.9rem;
}

.settings:hover {
  background-color: rgba(201, 255, 226, 0.5);
  color: #fff;
  font-size: 2rem;
}

.settings svg {
  width: 40px;
  float: left;
  margin-right: 5px;
}

label {
  text-align: center;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 12px;
  margin: 20px;
  color: #c9ffe2;
  text-transform: capitalize;
}

input {
  width: 140px;
  height: 40px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  background: rgba(201, 255, 226, 0.5);
  font-weight: bold;
  font-size: 22px;
  line-height: 14px;
  color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin-right: 16px;
  height: 30px;
  width: 14px;
  opacity: 0.5;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:active {
  opacity: 1;
  border: none;
}

.timer {
  font-size: 100px;
  color: #c9ffe2;
  margin: 40px auto;
}

.text {
  margin: auto;
  margin-top: 60px;
  font-size: 36px;
  color: #c9ffe2;
  text-transform: capitalize;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
}
.steam {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -75px;
  margin-left: 75px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}
